ion-view(title='Todos')
  ion-nav-buttons(side='left')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
  ion-content.has-header
    ion-list
      ion-item(ng-repeat='todo in todos', swipe-right='nextStatus(todo)')
        | {{todo.title}} is {{todo.status}}
